* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.font_work_sans {
  font-family: "Work Sans", sans-serif;
}
/* Shared styles */
.hide {
  display: none;
}
.display_flex {
  display: flex;
}
.dark_1 {
  color: #131313;
}
.dark_2 {
  color: #424242;
}
.dark_3 {
  color: #727272;
}
.bg_light {
  background-color: rgba(255, 144, 14, 0.1); /* header bg color  */
}
.btn_primary {
  background-color: #ff900e;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
header {
  padding-top: 50px;
}
/* navbar styles */
.nav_bar,
#banner,
main > section {
  max-width: 1440px; /*Using container*/
  margin: 0 auto; /*main > section er max-width: 1600 theke 1440 korlam*/
}
.nav_bar {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}

#brand {
  font-size: 2rem;
  font-weight: 700;
}
.nav_item .nav_link {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}

/* banner */
.banner_content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner_image {
  width: 100%;
}
/* main styles */
main > section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 130px;
}
/* features styles */
#features #our_features_content * {
  margin-bottom: 24px;
}
#features_container {
  display: flex;
  align-items: center;
  gap: 70px;
}
#team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* some facts */
#some_facts #section_content {
  max-width: 542px;
  margin: 30px auto;
  text-align: center;
}
#some_facts #section_content * {
  margin-bottom: 15px;
}
#facts_box_container {
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
#facts_box_container .fact {
  width: 240px;
  height: 240px;
  text-align: center;
  border: 1px solid #ff900e;
  padding: 20px;
}
#facts_box_container .fact * {
  margin-bottom: 15px;
}
/* media query: mobile devices */
@media screen and (max-width: 576px) {
  main > section {
    /* max-width: 1600px;
    margin: 0 auto; */
    margin-top: 130px;
  }
  .nav_bar,
  #features_container {
    flex-direction: column;
  }
  .nav_bar {
    margin-bottom: 60px;
  }
  .nav_item {
    margin-right: 12px;
  }

  #team_img_container {
    grid-template-columns: 1fr;
  }
  /* #team_img_container img 

} */
  #our_features_content {
    max-width: 537px;
    margin: 30px;
  }

  #facts_box_container {
    grid-template-columns: 1fr;
    place-items: center;
  }
  /* #facts_box_container #section_content {
    text-align: center;
  } */
}

/* medium devices responsive */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav_bar {
    flex-direction: column;
  }
  #features_container {
    flex-direction: column;
  }
  #our_features_content {
    max-width: 537px;
    margin: 30px auto;
    text-align: center;
  }
  #facts_box_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
  }
  /* #facts_box_container .fact {
    width: 100%;
  } */
}
